.counterWrapper{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 250px;
    border: 3px solid deepskyblue;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    background: blueviolet;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 250px;
    margin: 20px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}