.counterWrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 3px solid deepskyblue;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    background: blueviolet;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 250px;
    margin: 20px;
}
.inputValues {
    height: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.button {

}