.counterWrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 3px solid deepskyblue;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    font-size: 50px;
    background: forestgreen;
    text-align: center;
}
.screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 20px;
}
.maximum {
    color: red;
}
.usual {
    color: black;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}